<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!--配置kaptcha-->
    <bean id="defaultKaptcha" class="com.google.code.kaptcha.impl.DefaultKaptcha">
        <property name="config">
            <bean class="com.google.code.kaptcha.util.Config">
                <!--构造函数-->
                <constructor-arg>
                    <props>
                        <!--边框-->
                        <prop key="kaptcha.border">no</prop>
                        <!--宽度120px-->
                        <prop key="kaptcha.image.width">120</prop>
                        <!--颜色-->
                        <prop key="kaptcha.textproducer.font.color">blue</prop>
                        <!--大小-->
                        <prop key="kaptcha.textproducer.font.size">40</prop>
                        <!--几个字符-->
                        <prop key="kaptcha.textproducer.char.length">4</prop>
                    </props>
                </constructor-arg>
            </bean>
        </property>
    </bean>
</beans>